

.fa{
cursor: pointer;}
label{
font-size:0.8rem;}


.input-anim {
    input[type=text], input[type=number], input[type=email], input[type=password],textarea{
        background: none;
        border: none;
        border-radius: 0;
        border-top: 2px solid transparent;
        border-bottom: 2px solid black;
        left:10px;
        width: 50%;
    &:focus {
        outline: 0;
        box-shadow: none;
        border: none;
        border-top: 1px solid transparent;
        border-bottom: 3px solid white;
    }}


   input[type=checkbox] {width:20px;
    height: 20px;}
}
    form {
         
        select {
            margin-top: 17px;
        }
        .label__info {
            width: 50px;
            border-radius: 2px;
            margin: 10px 0 20px;
            // margin-right: 100px;
        }
        .label__text {
            margin: 0px;
            padding: 0px;
            color: $light;
            display: none;
            //width: 300px;
        }
        .label__info {
            margin: 10px 10px 20px;
            .subtitle {
                padding: 0;
                margin: 0;
                font-size: 16px;
            }
        }
        .label__info:focus {
            //height: 260px;
            background-color: rgba(78, 217, 185, 0.2);
            .label__text {
                display: block;
            }
        }
    }
    .set {
        margin: 40px 0;
    }
    .form__block {
        textarea {
            width: 100%;
            height: auto;
            border-color: $light;
             &:focus {
        outline: none;
        border: 1px solid rgba($black, 0.5);
        box-shadow: inset 0 1px 1px rgba($black, 0.3);
    }
        }
    }
    